<div class="container">
  
  <div class="row mt-5 ml-3">
    <div class="col-3">
      <h4 class="text-center bg-secondary">商品一覧</h4>
    </div>
    <div class="col-8"></div>
    <div class="col-1">
      <%= link_to new_admin_item_path, class: "text-dark" do %>
        <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-12">
      <table class="table">
        <thead>
          <th>
            <th style="width: 10%">商品ID</th>
            <th style="width: 30%">商品名</th>
            <th style="width: 10%">税抜価格</th>
            <th style="width: 30%">ジャンル</th>
            <th style="width: 20%">ステータス</th>
          </th>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <tr>
            <td></td>
            <td><%= item.id %></td>
            <td>
              <%= link_to admin_item_path(item.id), class: 'text-dark' do %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= item.price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>
            <td class="text-success font-weight-bold">
              <% if item.is_active == true %>
                <%= item.is_active = "販売中" %>
              <% else %>
                <%= item.is_active = "販売停止中" %>
              <% end %>
             </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <div class="col-2"><%= paginate @items %></div>
    <div class="col-5"></div>
  </div>
</div>