<div class="container">
  
  <div class="row p-3">
    <div class="bg-secondary">
      <h4>管理者ログイン</h4>
    </div>
  </div>
  
  <div class="row p-3">
    <div class="col-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2"><%= f.label :email, "メールアドレス" %></div>
            <div class="col-md-8"><%= f.email_field :email, size: "50", autofocus: true, autocomplete: "email" %></div>
        </div>
      
        <div class="row mt-3">
          <div class="col-md-2"></div>
          <div class="col-md-2"><%= f.label :password, "パスワード" %></div>
          <div class="col-md-8"><%= f.password_field :password, size: "50", autocomplete: "current-password" %></div>
        </div>
      
        <div class="row mt-4">
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-8"><%= f.submit "ログイン", class: 'btn btn-md btn-primary' %></div>
        </div>
      <% end %>
      
      <%= render "admin/shared/links" %>
        
    </div>
  </div>
</div>