<div class="container">
  <div class="row mt-5 ml-3">
    <h4><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h4>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <table class="table table-md">
      <tr><th>会員ID</th></tr>
      <tr><th>氏名</th></tr>
      <tr><th>フリガナ</th></tr>
      <tr><th>郵便番号</th></tr>
      <tr><th>住所</th></tr>
      <tr><th>電話番号</th></tr>
      <tr><th>メールアドレス</th></tr>
      <tr><th>会員ステータス</th></tr>
      </table>
    </div>
    <div class="col-5">
      <table class="table table-md">
      <tr><td><%= @customer.id %></td></tr>
      <tr><td><%= @customer.last_name + @customer.first_name %></td></tr>
      <tr><td><%= @customer.last_name_kana + @customer.first_name_kana %></td></tr>
      <tr><td><%= @customer.postal_code %></td></tr>
      <tr><td><%= @customer.address %></td></tr>
      <tr><td><%= @customer.telephone_number %></td></tr>
      <tr><td><%= @customer.email %></td></tr>
      <tr><td><%= @customer.is_deleted ? '退会' : '有効' %></td></tr>
      </table>
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-md btn-success' %>
    <%= link_to "注文履歴一覧を見る", root_path, class: 'btn btn-md btn-primary' %>
    </div>
  </div>
</div>
    