<div class="container">
  <div class="row">
    <div class="col-md-3 mt-2">
      <div class="border border-dark">
        <table class="table">
          <thead>
              <th class="text-center">ジャンル検索</th>
          </thead>
          <% @genres.each do |genre| %>
          <tbody>
            <tr>
              <td><%= link_to items_path(genre_id: genre.id), class: 'text-dark' do %><%= genre.name %><% end %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
    
    <div class="row">
      <% if @genre == nil %>
      <div class="col-md-3"></div>
      <div class="col-md-9"><h4>商品一覧</h4></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <div class="d-flex flex-row">
          <% @items_latest8.each do |item| %>
          <div class="d-flex flex-column mr-2">
            <div>
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(200,100), class: "img-fluid" %>
            <% end %>
            </div>
            <div><%= item.name %></div>
            <div><%= item.price %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
        
          
          
        </div>
        
      <% else %>
      
        <h1><%= @genre.name %>一覧</h1>
        <div class="d-flex flex-wrap">
          <% @items.each do |item| %>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_image(200,100) %>
          <% end %><br>
          <%= item.name %><br>
          <%= item.price %>
          <% end %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>