<table class="table">
  <thread>
    <th>
      <th>ジャンル検索</th>
    </th>
  </thread>
  <% @genres.each do |genre| %>
  <tbody>
    <tr>
      <td><%= link_to items_path(genre_id: genre.id) do %><%= genre.name %><% end %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= image_tag @item.get_image(200,100) %>
<p><%= @item.name %></p>
<p><%= @item.introduction %></p>
<p>￥<%= (@item.price * 1.1).floor %>(税込)</p>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id  %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit 'カートに入れる' %>
<% end %>
  