<table class="table">
  <thread>
    <th>
      <th>ジャンル検索</th>
    </th>
  </thread>
  <% @genres.each do |genre| %>
  <tbody>
    <tr>
      <td><%= genre.name %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= image_tag @item.get_image(200,100) %>
<%= @item.name %>
<%= @item.introduction %>
<%= @item.price %>

<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
  <%= f.select :amount, *[1..10] %>
  